[Desktop Entry]
Encoding=UTF-8
Name=Hotwire Shell
GenericName=Command prompt
Comment=Execute text commands
Exec=hotwire
Terminal=false
Type=Application
Icon=hotwire
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
